<!DOCTYPE html>
<html>
<head>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<title>Register Page</title>
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<body>
    <div class="container" *ngIf="isSuccessful">
        <div class="d-flex justify-content-center h-100">
            <h3 style="color:White;">Thank you for registering</h3>
        </div>
    </div>
    <div class="container" *ngIf="!isSuccessful">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form   name="form"
                            (ngSubmit)="f.form.valid && onSubmit()"
                            #f="ngForm"
                            novalidate>
                        <div class="form-group">
                            <input type="submit" value="Register" class="btn float-right login_btn">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.firstName" id="firstName" name="firstName" placeholder="first name">						
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.lastName" id="lastName" name="lastName" placeholder="last name">						
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="form.email" id="email" name="email" placeholder="email">						
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" [(ngModel)]="form.password" id="password" name="password" placeholder="password">
                        </div>
                        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}
                          </div>
                    </form>
                </div>
                
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Already have an account?&nbsp;<a (click)="redirectToLogin()" href="javascript:void(0);">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<!-- <div class="col-md-12">
    <div class="card card-container">
        <img id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" class="profile-img-card" />
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="displayName">Display Name</label> <input type="text" class="form-control" name="displayName" [(ngModel)]="form.displayName" required minlength="3"
                    maxlength="20" #displayName="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && displayName.invalid">
                    <div *ngIf="displayName.errors.required">Display Name is required</div>
                    <div *ngIf="displayName.errors.minlength">Display Name must be at least 3 characters</div>
                    <div *ngIf="displayName.errors.maxlength">Display Name must be at most 20 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label> <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                    <div *ngIf="email.errors.required">Email is required</div>
                    <div *ngIf="email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label> <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6"
                    #password="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                    <div *ngIf="password.errors.required">Password is required</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="matchingPassword">Confirm Password</label> <input type="password" class="form-control" name="matchingPassword" [(ngModel)]="form.matchingPassword"
                    required minlength="6" #matchingPassword="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && matchingPassword.invalid">
                    <div *ngIf="matchingPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="matchingPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Sign Up</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">Your registration is successful!</div>
    </div>
</div> -->